.form {
    border: color-mix(in srgb, var(--matte-black), transparent 50%) solid 2px;

    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    padding: 2em;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: color-mix(in srgb, var(--matte-black), transparent 75%);
}

.title {
    font-size: 2.5em;
    text-align: center;
    font-family: "Unbounded", serif;
    color: var(--misty-pink)
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 75%;
}

.label {
    opacity: .5;
    font-size: 1em;
}

.textInput {
    height: 2em;
    background-color: color-mix(in srgb, var(--matte-black), transparent 60%);
    border: color-mix(in srgb, var(--matte-black), transparent 50%) solid 1px;
    border-radius: 3px;
    padding: .5em;
    color: var(--foreground)
}

.submit {
    padding: .5em;
    font-size: 1em;
    width: 75%;
    background-color: color-mix(in srgb, var(--misty-pink), transparent 10%);
    color: black;
    border: color-mix(in srgb, var(--misty-pink), transparent 50%) solid 1px;
    border-radius: 10px;
    color: var(--background);
    font-weight: 500;
}

.signup {
    font-size: 0.8em;
    text-decoration: underline;
    color: color-mix(in srgb, var(--misty-pink), transparent 25%);
}