.card {
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: pink;

    width: 20em;
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.info {
    width: 100%;
}

.infoText {
    font-size: 1.5em;
}

.label {
    opacity: .6;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.complete {
    background-color: rgb(102, 202, 102);
    border-color: rgb(102, 202, 102);
    width: 7.5em;
    height: 2em;
}

.cancel {
    background-color: rgb(255, 86, 86);
    border-color: rgb(255, 86, 86);
    width: 7.5em;
    height: 2em;
}

.buttonText {
    color: white;
}