.card {
    border: color-mix(in srgb, var(--matte-black), transparent 25%) solid 2px;
    border-radius: 10px;

    width: 20em;
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: color-mix(in srgb, var(--matte-black), transparent 50%);
}

.info {
    width: 100%;
}

.infoText {
    font-size: 1.5em;
}

.label {
    opacity: .6;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.button {
    background-color: #fbdada;
    border-color: #fbdada;
    width: 7.5em;
    height: 2em;
}

.buttonText {
    color: black;
    font-family: "Unbounded", serif;
}