.main {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.submit {
    margin-top: 1em;
    padding: .25em;
    font-size: 1em;
    width: 75%;
    background-color: color-mix(in srgb, rgb(255, 92, 92), transparent 0%);
    color: black;
    border: color-mix(in srgb, rgb(255, 92, 92), transparent 50%) solid 1px;
    border-radius: 10px;
    color: var(--background);
    font-weight: 500;
}

.form {
    border: color-mix(in srgb, var(--matte-black), transparent 50%) solid 2px;

    margin-top: 2em;
    flex-direction: column;
    height: 50%;
    width: 80%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.inventory {
    width: 10%;
    height: 100%;
    background-color: color-mix(in srgb, var(--matte-black), transparent 0%) solid 2px;
}

.barContainer {
    background-color: red;
    height: 1em;
    width: 100%;
}